@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Founder";
    src: url(../fonts/FoundersGrotesk-Semibold.woff2) format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Neue";
    src: url(../fonts/NeueMontreal-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: light;
  }

  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    @apply text-black font-neue;
  }

  body {
    @apply text-black bg-[#F1F1F1];
  }

  li a {
    @apply font-neue text-black;
  }
  .heading-large{
    @apply text-lg font-founder uppercase pt-[1vw] font-bold text-[9vw] leading-[7vw] tracking-[-0.02em];
  }
}
